{% extends 'base.html' %}

{% block title %}{{task.title}}{% endblock  %}

{% block content %}

    {% if messages %}
        {% for message in messages %}            
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="jumbotron mb-5">
        <h1 class="display-4">{{task.title}}</h1>
        <p class="lead">{{task.content}}</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="{% url 'task-edit' task.id %}" role="button">Edit task</a>
        <a class="btn btn-danger btn-lg" onclick="deleteTask()" crole="button">Delete task</a>
    </div>

    <a href="{% url 'subtask-create' task.id %}" class="btn btn-primary">Add Subtask</a>


    <div class="row mt-4">
        
        {% for subtask in task.subtasks.all %}

            {% if subtask.state %}
                <div class="col-3 mr-3 ml-3">
                    <div class="card" style="width: 18rem;">   
                        <div class="card-header text-center">
                            {{subtask.name}}
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{subtask.content}}</p>
                            <a href="{% url 'subtask-detail' subtask.task.id subtask.id %}" class="btn btn-primary">Subtask detail</a>
                        </div>
                        <div class="card-footer text-center text-muted">
                            {{subtask.deadline}}
                        </div>
                    </div>
                </div>
            {% endif %}

        {% endfor %}
        
    </div>

    
{% endblock  %}

{% block scripts %}
    <script>
        function deleteTask () {
            Swal.fire({
                title: '<strong>Are you sure to delete the task?</strong>',
                icon: 'info',
                html:
                '<a href="{% url 'task-delete' task.id %}" class="btn btn-danger">Yes, Delete!</a>',
                showCloseButton: true,
                showCancelButton: false,
                showConfirmButton: false,
                focusConfirm: false,                
            });
        }
    </script>
{% endblock  %}