{% load static %}

{% load crispy_forms_tags %}

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <title>Register | TaskMg</title>      
        
    </head>
    
    {% include 'base.html' %}    
    
    <br>

    <div class="container bg-white shadow-md p-5 form-layout">

        <h3>Register page</h3>

        <hr>

        <form method="POST" autocomplete="off">

            {% csrf_token %}

            {{form.username|as_crispy_field}}

            <br> <br>

            {{form.email|as_crispy_field}}

            <br> <br>

            {{form.password1|as_crispy_field}}

            <br> <br>

            {{form.password2|as_crispy_field}}

            <a class="btn btn-secondary navbar-btn" type="button" href="{% url 'my-login' %}">Login</a>

            <input class="btn btn-primary navbar-btn" type="submit" value="Register">

        </form>
    </div>
</html>    